html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #008080;
}

.border {
    display: flex;
    justify-content: center;
    padding: 15px 5px;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
}

h2 {
    color: black;
    font-family: none;
    margin: 0;
}

h1 {
    color: black;
    font-family: none;
    margin: 0;
    font-size: 15px;
    font-weight: 10;
    cursor: context-menu;
}

h3 {
    color: white;
    font-family: none;
    margin: 0;
    font-size: large;
}

.btn-panel {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

input {
    border: none;
    color: black;
    font-family: none;
    font-size: 15px;
}